html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.info-bar {
    margin-left: 20px;
    border: black;
    border-style: solid; 
    border-width: 2px; 
    flex: 1;
    border-radius: 5px;
}

.property-item { cursor: pointer; }
.property-dot {
    width: 12px;
    height: 12px;
    border-radius: 2px;
    display: inline-block;
    margin-right: .5rem;
    vertical-align: middle;
}
.property-link { text-decoration: none; color: inherit; }
.chance-btn { min-width: 120px; }

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}